
.paginator {
    margin: 30px;
    position: relative;
    text-align: center;
}

.pageNumber {
    margin: 1px;
    border: 1px solid grey;

}

.pageNumber.selectedPage {
    /*padding: 10px;*/
    /*font-weight: bold;*/
    /*border-color: black;*/
}