.userPhoto {
    width: 100px;
    height: 100px;
}

.userProfile {
    display: flex;
    padding: 10px;
    border: solid 1px #c0cacd;
    margin: 5px;
}

.userProfile:hover {
    border: solid 1px #1890ff;

}

.userDescription {
    padding-left: 10px;
}

.userFollow {
    padding-top: 5px;
    padding-left: 12px;
}