.sendMessage {
    padding: 0;
    border: 1px solid #d9d9d9;
    font: inherit;
    color: inherit;
    background-color: transparent;
    height: 32px;
    width: 88px;
    border-radius: 5px
}

.sendMessage:hover {
    border: 1px solid #1890ff;
    color: #1890ff;
}

.transition {
    transition: 0.5s;
}

