.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    color: red;
    padding: 5px;
}

.exampleInput {
    width: 200px;
    margin: 0 8px 8px 0;
}

.qwe {
   width: 100%;
}