.navigation {
  grid-area: nav;
  padding-left: 10px;


}
.activeLink {
  /*color: black;*/


}

.item a{
  color:  black;
  /*text-decoration: none;*/
}
.item :hover {
  color: #1890ff
}

.item {
  font-size: 18px;
  font-weight: 500;


}