.mainHeader {
    grid-area: head;
    background-color: rgb(255, 255, 255);
    height: 64px;
}

.box {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.headerNavigation {
    background-color: rgb(255, 255, 255);

}

.Search {
    margin-top: 10px;
}

.loginBlock {
    float: right;
    margin-top: 14px;
    margin-right: 10px;
}
.enterUsers Button {
    margin-left: 10px ;
}

.headerNavigation img {
    width: 64px;
    height: 64px;
    margin-left: 10px;

}