.minFooter {
    grid-area: footer;
    background-color: rgb(255, 255, 255);



padding-left: 10px;
    padding-right: 10px ;
    display: grid;
    grid-template-areas:  "foot footr dffddd";

    grid-template-rows: 64px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.rrr {
    grid-area: foot;
    margin-top: 20px;

}
.dsds {
    grid-area: footr;
    text-align: center;
    margin-top: 20px;
}
.ddd {
    grid-area: dffddd;
    text-align: right;
}
.abait {
    padding-right: 30px;
}

.ddd img {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    margin-top: 2px;

}
