.wrapper {
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px ;
    display: grid;
    grid-template-areas:  "cop about logo";
    grid-template-rows: 64px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.copyright {
    grid-area: cop;
    margin-top: 20px;
}

.wrapperAbout {
    grid-area: about;
    text-align: center;
    margin-top: 20px;
}

.logoSiteFooter {
    grid-area: logo;
    text-align: right;
}

.sideBar {
    padding-right: 30px;
}

.logoSiteFooter img {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    margin-top: 2px;
}
