
.descriptionBlock {
    padding: 10px;
  }

.mainPhoto {
    max-width: 225px;
}
.contacs {
    padding-left: 10px;
}

.avatar input[type=file] {
   width: 225px;
}
.inputType {
    margin-top: 5px;
    float: left;

}


.qwweedd {
    /*width: 100px;*/
}