.saveSubmCont {
    padding: 0;
    border: 1px solid #d9d9d9;
    font: inherit;
    color: white;
    height:32px;
    width: 54px ;
    border-radius: 5px;
    background-color: #1890ff;
}
.saveSubmCont:hover {
    background-color: rgba(24, 144, 255, 0.84)
}

.transition {
    transition: 0.3s;
}