
.descriptionBlock {
    padding: 10px;
    width: 245px;
    word-wrap: break-word;

  }

.mainPhoto {
    max-width: 225px;
}
.contacts {
    padding-left: 10px;
}

.avatar input[type=file] {
   width: 225px;
}
.inputType {
    margin-top: 5px;
    float: left;

}

