.background {
    height: 200px;
    background-color: #3d4047;
  }
.descriptionBlock {
    display: grid;
    grid-template-columns: 3fr 6fr;
    padding: 10px;
  }

  .avatar {

  }

.description {

}

.mainPhoto {
    max-width: 200px;
}
.contacs {
    padding-left: 10px;
}