
.ss {
    padding: 10px;
margin-left: 10px;

}

.llll {
    padding: 0;
    border: 1px solid #d9d9d9;
    font: inherit;
    color: inherit;
    background-color: transparent;
    height:32px;
    width: 88px ;
    border-radius: 5px
}
.llll:hover {
    border: 1px solid #1890ff;
    color: #1890ff;
    /*border: none;*/

}
.transition {
    transition: 0.5s;
}

.spoiler {
    position: initial;
}