@import '~antd/dist/antd.css';

.appWrapper {
    display: grid;
    background-color: #e9ebee;
    width: 1012px;
    margin: 0 auto;


    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;



    /*height: 100%;*/
    grid-template-areas: "head head" "nav cont" "footer footer";

    grid-template-rows: 64px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}

body {
    background-color: #e9ebee;
    overflow-y: scroll;

}

.appWrapperContent {
    grid-area: cont;
    background-color: #ffffff;
    min-width: 891px;


}


html {
    background-color: #e9ebee;

}